@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2d2d2d;
    /* Color of the track */
}

::-webkit-scrollbar-thumb {
    background: #555;
    /* Color of the scroll thumb */
    border-radius: 6px;
    /* Radius for the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
    /* Color of the scroll thumb when hovered */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    /* Width of the scrollbar */
    scrollbar-color: #555 #2d2d2d;
    /* Scroll thumb and track color */
}